div{
  padding: 0;
  margin: 0;
    font-family: Arial, sans-serif;
    background-color: #615f5f;
    color: #333;
    align-content: center;
    height: 100vh;
}
.head{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}
.para{

    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}